In [4]:
with open('accounts.txt', mode='w') as accounts:
    accounts.write('100 Jones 24.98\n')
    accounts.write('200 Doe 345.67\n')
    accounts.write('300 White 0.00\n')
    accounts.write('400 Stone -42.16\n')
    accounts.write('500 Rich 224.62\n')

In [5]:
with open('accounts.txt', mode='r') as accounts:
    print(f'{"Account":<10}{"Name":<10}{"Balance":>10}')
    for record in accounts:
        account, name, balance = record.split()
        print(f'{account:<10}{name:<10}{balance:>10}')

Account   Name         Balance
100       Jones          24.98
200       Doe           345.67
300       White           0.00
400       Stone         -42.16
500       Rich          224.62

In [6]:
accounts = open('accounts.txt', 'r')

In [7]:
temp_file = open('temp_file.txt', 'w')

In [8]:
with accounts, temp_file:
    for record in accounts:
        account, name, balance = record.split()
        if account != '300':
            temp_file.write(record)
        else:
            new_record = ' '.join([account, 'Williams', balance])
            temp_file.write(new_record + '\n')

In [9]:
import os

In [11]:
os.remove('accounts.txt')

In [12]:
os.rename('temp_file.txt', 'accounts.txt')

In [14]:
accounts_dict = {'accounts': [{'account': 100, 'name':'Jones', 'balance': 24.98}, 
                {'account': 200, 'name': 'Doe','balance': 345.67}]}

In [15]:
import json

In [16]:
with open('accounts.json', 'w') as accounts:
    json.dump(accounts_dict, accounts)

In [20]:
with open('accounts.json', 'r') as accounts:
    accounts_json = json.load(accounts)

In [21]:
accounts_json

{'accounts': [{'account': 100, 'name': 'Jones', 'balance': 24.98},
  {'account': 200, 'name': 'Doe', 'balance': 345.67}]}

In [22]:
accounts_json['accounts']

[{'account': 100, 'name': 'Jones', 'balance': 24.98},
 {'account': 200, 'name': 'Doe', 'balance': 345.67}]

In [23]:
accounts_json['accounts'][0]

{'account': 100, 'name': 'Jones', 'balance': 24.98}

In [24]:
accounts_json['accounts'][1]

{'account': 200, 'name': 'Doe', 'balance': 345.67}

In [25]:
with open('accounts.json', 'r') as accounts:
    print(json.dumps(json.load(accounts), indent=4))

{
    "accounts": [
        {
            "account": 100,
            "name": "Jones",
            "balance": 24.98
        },
        {
            "account": 200,
            "name": "Doe",
            "balance": 345.67
        }
    ]
}

In [26]:
import json

In [29]:
grades_dict = {'gradebook': 
               [{'student_id': 1, 'name': 'Red', 'grade': 'A'},
                {'student_id': 2, 'name': 'Green', 'grade': 'B'},
                {'student_id': 3, 'name': 'White', 'grade': 'A'}]}

In [30]:
with open('grades.json', 'w') as grades: 
    json.dump(grades_dict, grades)

In [31]:
with open('grades.json', 'r') as grades:
    print(json.dumps(json.load(grades), indent=4))

{
    "gradebook": [
        {
            "student_id": 1,
            "name": "Red",
            "grade": "A"
        },
        {
            "student_id": 2,
            "name": "Green",
            "grade": "B"
        },
        {
            "student_id": 3,
            "name": "White",
            "grade": "A"
        }
    ]
}

In [32]:
10/0

ZeroDivisionError: division by zero

In [33]:
value = int(input('Enter an integer: '))

Enter an integer:  hello

ValueError: invalid literal for int() with base 10: 'hello'

In [34]:
# dividebyzero.py
"""simple exception handling example."""

while True:
    # attempt to convert and divide values
    try:
        number1 = int(input('Enter numerator: '))
        number2 = int(input('Enter denominator: '))
        result = number1 / number2
    except ValueError: # tried to convert non-numeric value to int
        print('You must enter two integers\n')
    except ZeroDivisionError: # denominator was 0
        print('Attempted to divide by zero\n')
    else: # executes only if no exceptions occur
        print(f'{number1: .3f} / {number2: .3f} = {result: .3f}')
        break #terminate the loop

Enter numerator:  100
Enter denominator:  0

Attempted to divide by zero

Enter numerator:  100
Enter denominator:  hello

You must enter two integers

Enter numerator:  100
Enter denominator:  7

 100.000 /  7.000 =  14.286

In [36]:
def try_it(value):
    try:
        x = int(value)
    except ValueError:
        print(f'{value} could not be converted to an integer')
    else:
        print(f'int({value}) is {x}')

In [37]:
try_it(10.7)

int(10.7) is 10

In [38]:
try_it('Python')

Python could not be converted to an integer

In [39]:
try:
    print('try suite with no exceptions raised')
except:
    print('this will not execute')
else:
    print('else executes because no exceptions in the try suite')
finally:
    print('finally always executes')

try suite with no exceptions raised
else executes because no exceptions in the try suite
finally always executes

In [40]:
try:
    print('try suite that raises an exception')
    int('hello')
    print('this will not execute')
except ValueError:
    print('a ValueError occurred')
else:
    print('else will not execute because an exception occurred')
finally:
    print('finally always executes')

try suite that raises an exception
a ValueError occurred
finally always executes

In [41]:
open('gradez.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'gradez.txt'

In [42]:
try:
    with open('gradez.txt', 'r') as accounts:
        print(f'{"ID":<3}{"Name":<7}{"Grade"}')
        for record in accounts:
            student_id, name, grade = record.split()
            print(f'{student_id:<3}{name:<7}{grade}')
except FileNotFoundError:
    print('The file name you specified does not exist')

The file name you specified does not exist

In [43]:
def try_it(value):
    try:
        x = int(value)
    except ValueError:
        print(f'{value} could not be converted to an integer')
    else:
        print(f'int({value}) is {x}')
    finally:
        print('finally executed')

In [44]:
try_it(10.7)

int(10.7) is 10
finally executed

In [45]:
try_it('Python')

Python could not be converted to an integer
finally executed

In [46]:
def function1():
    function2()

In [47]:
def function2():
    raise Exception('An exception occurred')

In [48]:
function1()

Exception: An exception occurred

In [49]:
import csv

In [50]:
with open('accounts.csv', mode='w', newline='') as accounts:
    writer = csv.writer(accounts)
    writer.writerow([100, 'Jones', 24.98])
    writer.writerow([200, 'Doe', 345.67])
    writer.writerow([300, 'White', 0.00])
    writer.writerow([400, 'Stone', -42.16])
    writer.writerow([500, 'Rich', 224.62])

In [51]:
with open('accounts.csv', 'r', newline='') as accounts:
    print(f'{"Account":<10}{"Name":<10}{"Balance":>10}')
    reader = csv.reader(accounts)
    for record in reader:
        account, name, balance = record
        print(f'{account:<10}{name:<10}{balance:>10}')

Account   Name         Balance
100       Jones          24.98
200       Doe           345.67
300       White            0.0
400       Stone         -42.16
500       Rich          224.62

In [52]:
import csv

In [53]:
with open('grades.csv', mode='w', newline='') as grades:
    writer = csv.writer(grades)
    writer.writerow([1, 'Red', 'A'])
    writer.writerow([2, 'Green', 'B'])
    writer.writerow([3, 'White', 'A'])

In [54]:
with open('grades.csv', 'r', newline='') as grades:
    print(f'{"ID":<4}{"Name":<7}{"Grade"}')
    reader = csv.reader(grades)
    for record in reader:
        student_id, name, grade = record
        print(f'{student_id:<4}{name:<7}{grade}')

ID  Name   Grade
1   Red    A
2   Green  B
3   White  A

In [55]:
import pandas as pd

In [56]:
df = pd.read_csv('accounts.csv',
                 names=['account', 'name', 'balance'])

In [57]:
df

   account   name  balance
0      100  Jones    24.98
1      200    Doe   345.67
2      300  White     0.00
3      400  Stone   -42.16
4      500   Rich   224.62

In [58]:
df.to_csv('accounts_from_dataframe.csv', index=False)

In [59]:
import pandas as pd

In [60]:
titanic = pd.read_csv('https://vincentarelbundock.github.io/' + 
                      'Rdatasets/csv/carData/TitanicSurvival.csv')

In [63]:
#missy bernskoetter